@charset "utf-8";
.marb20{
    margin-bottom: .2rem;
}

.font30{
    font-size: .3rem;
    color: #303030;
}

.font24{
    font-size: .24rem;
    color: #808080;
}

.awards span{
    vertical-align: middle;
}

.awards i{
    font-style: normal;
}

.awards .award-cell{
    display: block;
    padding: 0 .3rem;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

@keyframes opacity{
    0%{
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-filter: alpha(opacity=0);
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
}
    100%{
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-filter: alpha(opacity=100);
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@keyframes rotate360{
    0%{
        opacity: 0;
        width: 0;
        height: 0;
        left: 50%;
        top:50%;
        filter: alpha(opacity=0);
        -webkit-filter: alpha(opacity=0);
        transform: rotate(0deg) scale(2);
        -webkit-transform: rotate(0deg) scale(2);
        -moz-transform: rotate(0deg) scale(2);
        -ms-transform: rotate(0deg) scale(2);
        -o-transform: rotate(0deg) scale(2);
    }
    20%{
        opacity: .2;
        filter: alpha(opacity=20);
        -webkit-filter: alpha(opacity=20);
        transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
    }
    40%{
        opacity: .4;
        filter: alpha(opacity=40);
        -webkit-filter: alpha(opacity=40);
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
        -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
    }
    60%{
        opacity: .6;
        filter: alpha(opacity=60);
        -webkit-filter: alpha(opacity=60);
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    80%{
        opacity: .8;
        filter: alpha(opacity=80);
        -webkit-filter: alpha(opacity=80);
        transform: rotate(240deg);
        -webkit-transform: rotate(240deg);
        -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        -o-transform: rotate(240deg);
    }
    100%{
        opacity: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        filter: alpha(opacity=100);
        -webkit-filter: alpha(opacity=100);
        transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
        -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
        -o-transform: rotate(360deg) scale(1);
    }
}

.awards .a-name{
    margin-right: .3rem;
}

.awards .a-header{
    padding: .3rem 0 .32rem;
}

.awards .a-header-txt1{
    font-size: .24rem;
    color: #888;
}

.awards .a-num{
    float: left;
    position: relative;
    display: block;
    width: .64rem;
    height: .64rem;
    margin-right: .12rem;
    font-size: .28rem;
    text-align: center;
    line-height: .64rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    background-color: #de4846;
    animation: opacity .5s ease;
    -webkit-animation: opacity .5s ease;
}

.awards .a-num-blue{
    background-color: #5fa0e4;
}

.awards .a-main{
    padding-bottom: .42rem;
}

.awards .a-main.bg-none .a-num{ 
    color: #de4846;
    background: none;
}

.awards .a-main.bg-none .a-num-blue{ 
    color: #5fa0e4;
    background: none;
}

.awards .a-num i{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    animation: rotate360 .5s ease;
    -webkit-animation: rotate360 .5s ease;
}

.awards .a-num:nth-child(2) i{
    animation-delay: .2s;
}

.awards .a-num:nth-child(3) i{
    animation-delay: .24s;
}

.awards .a-num:nth-child(4) i{
    animation-delay: .28s;
}

.awards .a-num:nth-child(5) i{
    animation-delay: .32s;
}

.awards .a-num:nth-child(6) i{
    animation-delay: .36s;
}

.awards .a-num:nth-child(7) i{
    animation-delay: .4s;
}

.awards .a-num:nth-child(2){
    animation-delay: .2s;
}

.awards .a-num:nth-child(3){
    animation-delay: .24s;
}

.awards .a-num:nth-child(4){
    animation-delay: .28s;
}

.awards .a-num:nth-child(5){
    animation-delay: .32s;
}

.awards .a-num:nth-child(6){
    animation-delay: .36s;
}

.awards .a-num:nth-child(7){
    animation-delay: .4s;
}

.awards .versus{
    height: .64rem;
    border-radius: .32rem;
    font-size: .28rem;
    color: #fff;
    background-color: #8bc442;
    -webkit-border-radius: .32rem;
    -moz-border-radius: .32rem;
    -ms-border-radius: .32rem;
    -o-border-radius: .32rem;
}

.awards .versus span{
    display: inline-block; *display: inline; *zoom: 1;
    vertical-align: middle;
    margin: 0 .2rem;
}

.awards .versus{
    position: relative;
    width: 88%;
    text-align: center; line-height: .64rem;
}

.awards .v-box{
    position: absolute;
    left: 0;
    top: 50%;
    width: .64rem;
    height: .64rem;
    overflow: hidden;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.awards .w248{
    width: 2.48rem;
    height: .64rem;
    border-radius: .32rem;
    text-align: center;
    line-height: .64rem;
    background-color: #5ba16a;
    -webkit-border-radius: .32rem;
    -moz-border-radius: .32rem;
    -ms-border-radius: .32rem;
    -o-border-radius: .32rem;
}

.awards .w248 .dice:first-child{
    background: url(../../images/szk3.png) no-repeat;
    background-size: .44rem auto;
    background-position: 0 -1.3rem;
}
.awards .w248 .dice:nth-child(2){
    background: url(../../images/szk3.png) no-repeat;
    background-size: .44rem auto;
    background-position: 0 -1.73rem;
}
.awards .w248 .dice:last-child{
    background: url(../../images/szk3.png) no-repeat;
    background-size: .44rem auto;
    background-position: 0 -2.17rem;
}

.awards .dice{
    display: inline-block;
    width: .44rem; height: .44rem; margin: .1rem .05rem;
    overflow: hidden;
}

.awards .dice-sum{
    margin-left: .36rem;
    font-size: .3rem; color: #000;
    line-height: .64rem;
}

.award-push-set{
    padding: .16rem .2rem;
    font-size: .28rem;
    text-align: justify;
    line-height: 1.6;
    color: #9e9ea6;
    background-color: #fffdcb;
}

.award-push-set > a{
    display: block;
    background: url(../../images/arrow-r-gray.png) no-repeat right center;
    background-size: .28rem .28rem;
}

/* 期次详情 */
.btn-award-group{
    position: fixed; left: auto; right: auto; bottom: 0;
    width: 100%; max-width: 750px; height: 1rem;
    border-top: 1px solid #e5e5e5;
    font-size: .32rem; text-align: center; line-height: 1rem;
    background-color: #fff;
}

.btn-award-group .btn-award{
    display: inline-block;
    width: 3.3rem;
    height: .7rem;
    margin: 0 .1rem;
    border: 1px solid #ec3037;
    border-radius: .05rem;
    text-align: center; line-height: .7rem;
    -webkit-border-radius: .05rem;
    -moz-border-radius: .05rem;
    -ms-border-radius: .05rem;
    -o-border-radius: .05rem;
    color: #ec3037;
}

.btn-award-group .btn-award.active{
    color: #fff;
    background-color: #ec3037; 
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;


}

.awards .flex .a-num{
    margin: 0 .06rem;
}

.awards .flex{
    padding-bottom: .32rem;
}

.award-detial .awards .award-cell{
    border: none;
}

.award-detial .brief{
    line-height: 1;
    background-color: #fff;
}

.award-detial .brief .txt1{
    padding-bottom: .24rem;
    font-size: .32rem;
    color: #808080;
}

.award-detial .brief .txt2{
    padding-bottom: .24rem;
    font-size: .3rem;
    color: #d40016;
}

.award-detial  .award-table{
    padding: .2rem .3rem .32rem;
}

.award-detial  .award-table .table{
    background-color: #fff;
}

.award-detial  .award-table{
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    color: #888;
}

.award-detial  .award-table .table-cell{
    width: 33.333%;
    padding: .16rem 0;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    font-size: .28rem; text-align: center;
}

/* .award-detial .hint{
    padding: .32rem .3rem 0;
    font-size: .28rem;
    line-height: 1.6;
    color: #bcbcbc;
}

.award-detial .hint img{
    vertical-align: middle;
    width: .28rem; height: .28rem;
    margin-right: .2rem;
}

.award-detial .hint span{
    vertical-align: middle;
} */


