@charset "utf-8";
.margt30{
    margin-top: .3rem;
}

.discover{
    padding: .3rem 0 0;
}

.discover .entry{
    padding-left: .3rem;
    background-color: #fff;
}

.discover .entry .inline-block{
    vertical-align: middle;
}

.discover .entry-link{
    position: relative;
    display: block; padding: .24rem 0;
    font-size: .32rem;
    color: #303030;
}

.discover .entry-link::after{
    content: '';
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 1px; 
    background-color: #f2f2f2;
}

.discover .table-view .entry:last-child .entry-link::after{
    background: none;
}

.discover .ebox{
    width: .48rem; height: .48rem; margin-right: .3rem;
    overflow: hidden;
}

.discover .ebox img{
    max-width: 100%;
    height: auto;
}

