<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../mui/css/mui.min.css">
    <link rel="stylesheet" href="../../libs/swiper.min.css">
    <link rel="stylesheet" href="../../app.css" />
    <link rel="stylesheet" href="bet.css">
    <script src="../../app.js"></script>
</head>

<body>
    <div id="app">
        <header class="title">
            <a class="mui-action-back mui-icon mui-icon-left-nav" id="back"></a>
            <div @click="show = !show" :class="show == true ? 'btn-drop-down active' : 'btn-drop-down'">
                <!-- <span class="i">玩法</span>
                <span class="txt">双色球普通</span> -->
                <div class="i">玩法</div>
                <div class="txt">双色球普通</div>
            </div>
            <a href="" class="btn-basic btn-ar">
                <img src="../../images/icon-line-chart.png" alt="" class="img-responsive">
                <span class="btn-basic-txt">助手</span>
            </a>
        </header>
        <transition name="fade">
            <div class="choices" v-if="show">
                <a href="" class="btn-choice active">普通投注</a>
                <a href="" class="btn-choice">胆拖投注</a>
            </div>
        </transition>
        <main class="container bet">
            <section class="layer-recent" id="layer-recent">
                <h1 class="bet-row"><span>奖池滚存: <i>907,892,115元</i></span> 投182倍可掏空奖池</h1>
                <div class="table">
                    <div class="table-cell">期号</div>
                    <div class="table-cell">红球</div>
                    <div class="table-cell">蓝球</div>
                </div>
                <div class="table" v-for="past in arrPastTerm" v-if="arrPastTerm.length > 0">
                    <div class="table-cell" v-text="past.term"></div>
                    <div class="table-cell" v-text="past.redball"></div>
                    <div class="table-cell" v-text="past.blueball"></div>
                </div>
            </section>
            <section id="layer-random" class="layer-random" @touchstart="touchStart($event)" @touchend="touchEnd($event)" :style="slide">
                <div class="paddh30">
                    <a class="btn-random fl" @click="machineSelect"> 机选</a>
                    <span class="font28 fr">至少选择6个红球,1个蓝球</span>
                    <div class="clearfix"></div>
                </div>
                <ul class="balls clearfloat">
                    <li v-for="redBall in arrRedBalls">
                        <div :class="redBall.selected == true ? 'ball active' : 'ball'" v-text="redBall.num" v-if="redBall.num" @click="select(redBall, 0)"></div>
                    </li>
                </ul>
                <ul class="balls balls-blue clearfloat">
                    <li v-for="blueBall in arrBlueBalls">
                        <div :class="blueBall.selected == true ? 'ball active' : 'ball'" v-text="blueBall.num" v-if="blueBall.num" @click="select(blueBall, 1)"></div>
                    </li>
                </ul>
            </section>
        </main>
        <footer class="foot-action">
            <div class="txt-center">
                <button class="btn-clearall fl">清空</button>
                <span>共<i v-text="totalNum"></i>注</span><span class="color-yellow"><i v-text="totalMoney"></i>元</span>
                <button class="btn-confirm-bet fr">确定</button>
                <div class="clearfix"></div>
            </div>
        </footer>
    </div>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/swiper.min.js"></script>
    <script src="../../mui/js/mui.min.js"></script>
    <script>
        var Ball = function() {
            this.redBalls = []
            this.blueBalls = []
        }
        Ball.prototype = {
            append: function(redBalls, blueBalls) {
                // slice 方法实现数组的深拷贝
                var _redBalls = redBalls.slice(0)
                var red = new Array()
                var blue = new Object()
                var j = 33

                // 生成6红
                for (var i = 0; i < 6; i++) {
                    var index = Math.round(Math.random() * j)
                    var temp = _redBalls.splice(index - 1, 1)
                    red.push(temp[0])
                    j--
                }

                // 生成1蓝
                var index2 = Math.round(Math.random() * 16)
                blue = blueBalls[index2]
                return {
                    r: red,
                    b: blue
                }
            }
        }

        var vm = new Vue({
            el: '#app',
            data: {
                show: false,
                startY: 0,
                endY: 0,
                slide: '',
                totalNum: 0,
                totalMoney: 0,
                arrPastTerm: [{
                        term: '061期',
                        redball: '09 10 11 12 18 23',
                        blueball: '07'
                    }, {
                        term: '062期',
                        redball: '02 18 19 24 25 33',
                        blueball: '11'
                    }, {
                        term: '063期',
                        redball: '05 06 10 16 20 25',
                        blueball: '12'
                    }, {
                        term: '064期',
                        redball: '02 05 10 11 17 21',
                        blueball: '05'
                    }, {
                        term: '065期',
                        redball: '01 04 06 14 28 33',
                        blueball: '01'
                    },
                    {
                        term: '066期',
                        redball: '09 16 17 19 22 26',
                        blueball: '10'
                    }, {
                        term: '067期',
                        redball: '01 04 09 12 15 18',
                        blueball: '05'
                    }, {
                        term: '068期',
                        redball: '08 10 17 20 27 30',
                        blueball: '01'
                    }, {
                        term: '069期',
                        redball: '06 13 17 19 23 31',
                        blueball: '12'
                    }, {
                        term: '070期',
                        redball: '04 09 15 16 19 27',
                        blueball: '10'
                    },
                ],
                arrRedBalls: [{
                    num: '01',
                    selected: false
                }, {
                    num: '02',
                    selected: false
                }, {
                    num: '03',
                    selected: false
                }, {
                    num: '04',
                    selected: false
                }, {
                    num: '05',
                    selected: false
                }, {
                    num: '06',
                    selected: false
                }, {
                    num: '07',
                    selected: false
                }, {
                    num: '08',
                    selected: false
                }, {
                    num: '09',
                    selected: false
                }, {
                    num: '10',
                    selected: false
                }, {
                    num: '11',
                    selected: false
                }, {
                    num: '12',
                    selected: false
                }, {
                    num: '13',
                    selected: false
                }, {
                    num: '14',
                    selected: false
                }, {
                    num: '15',
                    selected: false
                }, {
                    num: '16',
                    selected: false
                }, {
                    num: '17',
                    selected: false
                }, {
                    num: '18',
                    selected: false
                }, {
                    num: '19',
                    selected: false
                }, {
                    num: '20',
                    selected: false
                }, {
                    num: '21',
                    selected: false
                }, {
                    num: '22',
                    selected: false
                }, {
                    num: '23',
                    selected: false
                }, {
                    num: '24',
                    selected: false
                }, {
                    num: '25',
                    selected: false
                }, {
                    num: '26',
                    selected: false
                }, {
                    num: '27',
                    selected: false
                }, {
                    num: '28',
                    selected: false
                }, {
                    num: '29',
                    selected: false
                }, {
                    num: '30',
                    selected: false
                }, {
                    num: '31',
                    selected: false
                }, {
                    num: '32',
                    selected: false
                }, {
                    num: '33',
                    selected: false
                }],
                arrBlueBalls: [{
                    num: '01',
                    selected: false
                }, {
                    num: '02',
                    selected: false
                }, {
                    num: '03',
                    selected: false
                }, {
                    num: '04',
                    selected: false
                }, {
                    num: '05',
                    selected: false
                }, {
                    num: '06',
                    selected: false
                }, {
                    num: '07',
                    selected: false
                }, {
                    num: '08',
                    selected: false
                }, {
                    num: '09',
                    selected: false
                }, {
                    num: '10',
                    selected: false
                }, {
                    num: '11',
                    selected: false
                }, {
                    num: '12',
                    selected: false
                }, {
                    num: '13',
                    selected: false
                }, {
                    num: '14',
                    selected: false
                }, {
                    num: '15',
                    selected: false
                }, {
                    num: '16',
                    selected: false
                }, ]
            },
            mounted: function() {
                var that = this
                // setInterval(function(){
                //     var i = parseInt(33*Math.random())
                //     that.arrRedBalls.forEach(function(item,index){
                //         item.selected = false
                //        if(index === i){
                //             item.selected = true
                //             console.log(i)
                //        }

                //     })
                // }, 200)
            },
            methods: {
                touchStart: function(e) {
                    if (e.touches.length == 1) {
                        // 记录开始位置
                        this.startY = e.touches[0].clientY;
                    }
                },
                touchEnd: function(e) {
                    var endY = e.changedTouches[0].clientY;
                    this.disY = endY - this.startY;

                    if ((this.disY >= 0 && this.disY < 50) || (this.disY <= 0)) {
                        //如果距离小于删除按钮一半,强行回到起点
                        this.slide = "transform:translateY(0px); transition: .5s ease; -webkit-transform:translateY(0px); -webkit-transition: .5s ease; -moz-transform:translateY(0px); -moz-transition: .5s ease;-ms-transform:translateY(0px); -ms-transition: .5s ease;-o-transform:translateY(0px); -o-transition: .5s ease;"
                        document.getElementById('layer-random').style = "overflow-y: auto;-webkit-overflow-scrolling: touch;";
                    } else {
                        //大于一半 滑动到最大值
                        var d = document.getElementById('layer-recent').offsetHeight
                        this.slide = "transform:translateY(" + d + "px); transition: .5s ease; -webkit-transform:translateY(" + d + "px); -webkit-transition: .5s ease; -moz-transform:translateY(" + d + "px); -moz-transition: .5s ease;-ms-transform:translateY(" + d + "px);-ms-transition: .5s ease;-o-transform:translateY(" + d + "px); -o-transition: .5s ease;"
                        document.getElementById('layer-random').style = "overflow: hidden;";
                    }
                },
                /**
                 * 递归求下注数
                 */
                recurs: function(n) {
                    if (n > 7)
                        return parseInt(n / (n - 6) * this.recurs(n - 1))
                    else if (n == 7)
                        return 7
                    else if (n == 6)
                        return 1
                    else
                        return 0
                },
                /**
                 * 计算注数和钱数
                 */
                calculate: function(tempRedNum, tempBlueNum) {
                    if (tempRedNum >= 6 && tempBlueNum >= 1) {
                        this.totalNum = this.recurs(tempRedNum) * tempBlueNum
                        this.totalMoney = this.totalNum * 2
                    } else {
                        this.totalNum = 0
                        this.totalMoney = 0
                    }
                },
                /***
                 * 点选
                 */
                select: function(o, type) {
                    // 获取已选中红球或蓝球的个数
                    function getNum(arr) {
                        var n = new Number()
                        arr.forEach(function(el) {
                            if (el.selected == true)
                                n++
                        })
                        if (n != undefined)
                            return n
                    }

                    // // 递归求下注数
                    // function recurs(n) {
                    //     if (n > 7)
                    //         return parseInt(n / (n - 6) * recurs(n - 1))
                    //     else if (n == 7)
                    //         return 7
                    //     else if (n == 6)
                    //         return 1
                    //     else
                    //         return 0
                    // }

                    o.selected = !o.selected
                    var tempRedNum = getNum(this.arrRedBalls)
                    var tempBlueNum = getNum(this.arrBlueBalls)
                    this.calculate(tempRedNum, tempBlueNum)

                    // 0 红球；1蓝球
                    // switch (type) {
                    //     case 0:
                    //         if (tempRedNum >= 6 && tempBlueNum >= 1) {
                    //             this.totalNum = recurs(tempRedNum) * tempBlueNum
                    //             this.totalMoney = this.totalNum * 2
                    //         } else {
                    //             this.totalNum = 0
                    //             this.totalMoney = 0
                    //         }
                    //         break;
                    //     case 1:
                    //         if (tempRedNum >= 6 && tempBlueNum >= 1) {
                    //             this.totalNum = recurs(tempRedNum) * tempBlueNum
                    //             this.totalMoney = this.totalNum * 2
                    //         } else {
                    //             this.totalNum = 0
                    //             this.totalMoney = 0
                    //         }
                    //         break;
                    //     default:
                    //         ;
                    // }

                },

                /**
                 * 机选
                 */
                machineSelect: function() {
                    var target = new Ball().append(this.arrRedBalls, this.arrBlueBalls)
                    // 红球渲染
                    this.arrRedBalls.forEach(function(item, index) {
                        item.selected = false
                        for (var i = 0; i < target.r.length; i++)
                            if (target.r[i].num == item.num) {
                                item.selected = true
                            }
                    })

                    // 蓝球渲染    
                    this.arrBlueBalls.forEach(function(item, index) {
                        item.selected = false
                        if (target.b.num == item.num)
                            item.selected = true
                    })

                    // this.totalNum = 1
                    // this.totalMoney = 2
                    this.calculate(6, 1)
                },

            }
        })

        // 收起弹层
        document.getElementById('app').ontouchmove = function() {
            vm.$data.show = false
        }
    </script>

</body>

</html>