<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../mui/css/mui.min.css">
    <link rel="stylesheet" href="../../app.css" />
    <link rel="stylesheet" href="bet.css">
    <script src="../../app.js"></script>
</head>

<body>
    <div id="app">
        <header class="title">
            <a class="mui-action-back mui-icon mui-icon-left-nav" id="back"></a>
            <div @click="show = !show" :class="show == true ? 'btn-drop-down txt-center active' : 'btn-drop-down txt-center'">

                <div class="txt" v-for="(type, index) in arrTypes" v-if="type.selected === true">
                    <div class="i">玩法</div>
                    <span v-text="type.name"></span>
                </div>
            </div>
            <div class="btn-basic btn-ar">
                <div class="btn-right-action">
                    <a href=""><img src="../../images/icon-filter.png" alt="" class="img-responsive"></a>
                </div>
                <div class="btn-right-action">
                    <a href=""><img src="../../images/icon-menu.png" alt="" class="img-responsive"></a>
                    </d>
                </div>
        </header>
        <transition name="fade">
            <div class="choices" v-if="show">
                <!-- 竞彩投注类型 -->
                <div class="btn-size1" v-for="(type, index) in arrTypes">
                    <a :class="type.selected === true ? 'btn-choice active' : 'btn-choice'" v-text="type.name" @click="select(type, arrTypes, 'show')">
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </transition>
        <main>
            <!--下拉刷新容器-->
            <div id="pullrefresh" class="mui-content mui-scroll-wrapper">
                <section class="mui-scroll">
                    <!--数据列表-->
                    <ul class="mui-table-view mui-table-view-chevron">
                        <li v-for="(type, index) in arrTypes">
                            <!-- 竞彩足球不同类型的列表项 start-->
                            <section class="competition" v-if="type.selected === true && type.name === '混合投注'">
                                <!-- 选择对应的比赛显示模板 -->
                                <div :class="showCompetitionMain === true ? 'competition-header txt-center font28 active':'competition-header txt-center font28'" @touchstart="showCompetitionMain = !showCompetitionMain">
                                    <span>2018-06-21 </span>
                                    <span>星期四 </span>
                                    <span>六场比赛可投</span>
                                </div>
                                <div :class="showCompetitionMain === true ? 'active competition-main' : 'competition-main'">
                                    <section>
                                        <div class="pk">
                                            <i class="i" @touchstart="showLayerSinglePass2 = !showLayerSinglePass2 ">让球</i>
                                            <span class="opponent font32 color2">瑞典</span>
                                            <span class="font28">vs</span>
                                            <span class="opponent font32 color2">瑞士</span>
                                        </div>
                                        <div class="flex paddb24">
                                            <div :class="showCompetitionMainContent === true ? 'flex-col-24 txt-center active' : 'flex-col-24 txt-center'" @touchstart="showCompetitionMainContent = !showCompetitionMainContent">
                                                <h1 class="h1">世界杯</h1>
                                                <h2 class="h1">周二055</h2>
                                                <h3 class="h1">20:00截止</h3>
                                                <div class="icon-toggle"><img src="../../images/arrow-down-2.png" alt="" class="img-responsive"></div>
                                            </div>
                                            <div class="flex-col-86 txt-center">
                                                <div class="table table-style-1 highlight">
                                                    <div class="table-cell">
                                                        <section class="table grid-row">
                                                            <section class="table-cell grid bg2 color0">
                                                                <div class="score">0</div>
                                                            </section>
                                                            <section class="table-cell grid"><span>主胜2.95</span></section>
                                                            <section class="table-cell grid"><span>平2.70</span></section>
                                                            <section class="table-cell grid"><span>客胜2.22</span></section>
                                                        </section>
                                                        <section class="table grid-row">
                                                            <section class="table-cell grid bg3 color0">
                                                                <div class="score">+1</div>
                                                            </section>
                                                            <section class="table-cell grid"><span>主胜1.44</span></section>
                                                            <section class="table-cell grid"><span>平3.60</span></section>
                                                            <section class="table-cell grid"><span>客胜5.35</span></section>
                                                        </section>
                                                    </div>
                                                    <div class="table-cell expend">
                                                        <div @touchStart="showLayer = true">展开全部</div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <transition name="fade">
                                        <section class="content" v-if="showCompetitionMainContent">
                                            <div class="competition-row">
                                                <div class="competition-tag">智能预测</div>
                                                <div class="competition-txt">本场无预测</div>
                                            </div>
                                            <div class="competition-row">
                                                <div class="competition-tag">投注比例</div>
                                                <div class="competition-txt">
                                                    <div class="table">
                                                        <div class="table-cell">0</div>
                                                        <div class="table-cell">14%</div>
                                                        <div class="table-cell">5%</div>
                                                        <div class="table-cell">81%</div>
                                                    </div>
                                                </div>
                                                <div class="competition-txt">
                                                    <div class="table">
                                                        <div class="table-cell color2">+1</div>
                                                        <div class="table-cell">58%</div>
                                                        <div class="table-cell">21%</div>
                                                        <div class="table-cell">21%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="competition-row">
                                                <div class="competition-tag">赛事排名</div>
                                                <div class="competition-txt">本场无排名信息</div>
                                            </div>
                                            <div class="competition-row">
                                                <div class="competition-tag">历史交锋</div>
                                                <div class="competition-txt">
                                                    <div>
                                                        <span>近6次交战，瑞典</span>
                                                        <span class="color2">3胜</span>
                                                        <span class="color6">2平</span>
                                                        <span class="color7">1负</span>
                                                    </div>
                                                    <div>
                                                        <img src="../../images/test.jpg" alt="" class="img-responsive">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="competition-row">
                                                <div class="competition-tag">近期战绩</div>
                                                <div class="competition-txt">主队3胜4平3负，客队5胜4平1负</div>
                                            </div>
                                            <div class="txt-center">
                                                <a href="" class="btn-analysis">
                                                            <span> 详细赛事分析 </span>
                                                        </a>
                                            </div>
                                        </section>
                                    </transition>
                                </div>
                            </section>
                            <section class="competition" v-if="type.selected === true && type.name === '胜平负'">
                                <ul class="blocks clearfloat">
                                    <li :class="showBlocks === true ? 'active' : ''" @touchstart="showBlocks = true">过关(至少选择两场)</li>
                                    <li :class="showBlocks === true ? '' : 'active'" @touchstart="showBlocks = false">单关(猜一场，奖金固定)</li>
                                </ul>
                                <div class="padd30">
                                    <a class="btn-random fl"> 摇一摇选号</a>
                                    <a href="" class="font28 fr">至少选择6个红球,1个蓝球 ></a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="competition-header txt-center font28 active">
                                    <span>2018-07-06 </span>
                                    <span>星期四 </span>
                                    <span>2场比赛可投</span>
                                </div>
                                <div class="competition-main active">
                                        <section>
                                            <div class="pk">
                                                <i class="i">让球</i>
                                                <span class="opponent font32 color2">瑞典</span>
                                                <span class="font28">vs</span>
                                                <span class="opponent font32 color2">瑞士</span>
                                            </div>
                                            <div class="flex paddb24">
                                                <div :class="showCompetitionMainContent === true ? 'flex-col-24 txt-center active' : 'flex-col-24 txt-center'" @touchstart="showCompetitionMainContent = !showCompetitionMainContent">
                                                    <h1 class="h1">世界杯</h1>
                                                    <h2 class="h1">周二055</h2>
                                                    <h3 class="h1">20:00截止</h3>
                                                    <div class="icon-toggle"><img src="../../images/arrow-down-2.png" alt="" class="img-responsive"></div>
                                                </div>
                                                <div class="flex-col-86 txt-center">
                                                    <div class="table table-style-1">
                                                        <div class="table-cell">
                                                            <section class="table grid-row">
                                                                <section class="table-cell grid bg3 color0">
                                                                    <div class="score">+1</div>
                                                                </section>
                                                                <section class="table-cell grid"><span>主胜1.44</span></section>
                                                                <section class="table-cell grid"><span>平3.60</span></section>
                                                                <section class="table-cell grid"><span>客胜5.35</span></section>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <transition name="fade">
                                            <section class="content" v-if="showCompetitionMainContent">
                                                <div class="competition-row">
                                                    <div class="competition-tag">智能预测</div>
                                                    <div class="competition-txt">本场无预测</div>
                                                </div>
                                                <div class="competition-row">
                                                    <div class="competition-tag">投注比例</div>
                                                    <div class="competition-txt">
                                                        <div class="table">
                                                            <div class="table-cell">0</div>
                                                            <div class="table-cell">14%</div>
                                                            <div class="table-cell">5%</div>
                                                            <div class="table-cell">81%</div>
                                                        </div>
                                                    </div>
                                                    <div class="competition-txt">
                                                        <div class="table">
                                                            <div class="table-cell color2">+1</div>
                                                            <div class="table-cell">58%</div>
                                                            <div class="table-cell">21%</div>
                                                            <div class="table-cell">21%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="competition-row">
                                                    <div class="competition-tag">赛事排名</div>
                                                    <div class="competition-txt">本场无排名信息</div>
                                                </div>
                                                <div class="competition-row">
                                                    <div class="competition-tag">历史交锋</div>
                                                    <div class="competition-txt">
                                                        <div>
                                                            <span>近6次交战，瑞典</span>
                                                            <span class="color2">3胜</span>
                                                            <span class="color6">2平</span>
                                                            <span class="color7">1负</span>
                                                        </div>
                                                        <div>
                                                            <img src="../../images/test.jpg" alt="" class="img-responsive">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="competition-row">
                                                    <div class="competition-tag">近期战绩</div>
                                                    <div class="competition-txt">主队3胜4平3负，客队5胜4平1负</div>
                                                </div>
                                                <div class="txt-center">
                                                    <a href="" class="btn-analysis">
                                                                <span> 详细赛事分析 </span>
                                                            </a>
                                                </div>
                                            </section>
                                        </transition>
                                    </div>
                            </section>
                            <section class="competition" v-if="type.selected === true && type.name === '让球胜平负'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '比分'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '总进球'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '半全场'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '混合投注'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '2选1'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '猜一场'"></section>
                            <section class="competition" v-if="type.selected === true && type.name === '单关固定'"></section>
                            <!-- 竞彩足球不同类型的列表项 end-->
                        </li>
                    </ul>
            </div>
            <div :class="showLayer ===true ? 'layer-mask active' : 'layer-mask'" @clcik="showLayer = !showLayer"></div>
            <div :class="showLayer ===true ? 'layer-substance active' : 'layer-substance '">
                <section class="layer-substance-head">
                    <h1><span>瑞典</span> vs <span>瑞士</span></h1>
                </section>
                <section class="layer-substance-body">
                    <div class="txt-justify font24 color8 hint">
                        橙色区域支持单关固定，胜平负，比分，总进球，半全场
                    </div>
                    <div class="txt-center">
                        <div class="table-style-1 units">
                            <section class="table grid-row">
                                <section class="table-cell grid bg2 color0">
                                    <div class="score">0</div>
                                </section>
                                <section class="table-cell grid"><span>主胜2.95</span></section>
                                <section class="table-cell grid"><span>平2.70</span></section>
                                <section class="table-cell grid"><span>客胜2.22</span></section>
                            </section>
                            <section class="table grid-row">
                                <section class="table-cell grid bg3 color0">
                                    <div class="score">+1</div>
                                </section>
                                <section class="table-cell grid"><span>主胜1.44</span></section>
                                <section class="table-cell grid"><span>平3.60</span></section>
                                <section class="table-cell grid"><span>客胜5.35</span></section>
                            </section>
                        </div>
                    </div>
                    <div class="txt-center margb20">
                        <div class="holder gb4">
                            <span class="score-label">比分</span>
                            <div class="score-item" v-for="item in 7">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item" v-for="item in 5">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item score-item-col2">
                                <h1 class="txt-big">胜其它</h1>
                                <h2 class="txt-small">100.0</h2>
                            </div>
                            <div class="score-item" v-for="item in 4">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item score-item-col3">
                                <h1 class="txt-big">平其它</h1>
                                <h2 class="txt-small">400.0</h2>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="txt-center margb20">
                        <div class="holder b4">
                            <span class="score-label">半全场</span>
                            <div class="score-item" v-for="item in 7">
                                <h1 class="txt-big">胜胜</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item" v-for="item in 5">
                                <h1 class="txt-big">生平</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item score-item-col2">
                                <h1 class="txt-big">胜负</h1>
                                <h2 class="txt-small">100.0</h2>
                            </div>
                            <div class="score-item">
                                <h1 class="txt-big">平胜</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item score-item-col3">
                                <h1 class="txt-big">平平</h1>
                                <h2 class="txt-small">400.0</h2>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="txt-center">
                        <div class="holder b5">
                            <span class="score-label">比分</span>
                            <div class="score-item" v-for="item in 7">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item" v-for="item in 5">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>
                            <div class="score-item score-item-col2">
                                <h1 class="txt-big">胜其它</h1>
                                <h2 class="txt-small">100.0</h2>
                            </div>
                            <div class="score-item" v-for="item in 4">
                                <h1 class="txt-big">1:0</h1>
                                <h2 class="txt-small">7.50</h2>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
                <section class="layer-substance-foot">
                    <button class="btn-cancle" @click="showLayer=false"> 取消</button>
                    <button class="btn-confirm" @click="showLayer=false">确定</button>
                    <div class="clearfloat"></div>
                </section>
            </div>
        </main>
        <!-- 提示弹层需优化为一个弹出层组件layer-prompt start-->
        <section :class=" showLayerSinglePass2 === true ? 'layer-mask active' : 'layer-mask'"></section>
        <section :class=" showLayerSinglePass2 === true ? 'layer-substance layer-single-pass active' : 'layer-substance layer-single-pass'">
            <div class="layer-substance-head">
                <h1 class="font28">让球说明</h1>
            </div>
            <div class="layer-substance-body txt-justify">
                <p style="line-height: 1.6;">
                   让球：0表示没有让球；“-”表示主队让客队，主队的净胜球大于客队让客队，主队的净胜球大于让球数才算赢；
                </p>
                <p style="line-height: 1.6;">
                    “+”表示客队让主队，客队的净胜球大于主队让客队，客队的净胜球大于让球数才算赢；
                </p>
            </div>
            <div class="layer-substance-foot txt-center">
                <a class="font28" @click="showLayerSinglePass2 = false">我知道了</a>
            </div>
        </section>
        <section :class=" showLayerSinglePass === true ? 'layer-mask active' : 'layer-mask'"></section>
        <section :class=" showLayerSinglePass === true ? 'layer-substance layer-single-pass active' : 'layer-substance layer-single-pass'">
            <div class="layer-substance-head">
                <h1 class="font28">单关固定</h1>
            </div>
            <div class="layer-substance-body txt-justify">
                <p style="line-height: 1.6;">
                    单关固定：只猜一场比赛，猜中及中奖。奖金以出票时刻的赔率为准。
                    单关固定返奖率高达87%。
                </p>
                <p style="line-height: 1.6;">
                    勾选后，橙色框区域表示该场次支持单关固定的玩法。
                </p>
            </div>
            <div class="layer-substance-foot txt-center">
                <a class="font28" @click="showLayerSinglePass = false">我知道了</a>
            </div>
        </section>
        <!-- 提示弹层需优化为一个弹出层组件layer-prompt end-->
        <footer class="footer">
            <div class="bg6 txt-center single-pass">
                <div class="a-checkbox flex">
                    <input type="checkbox" name="" id="" checked>
                    <span>&nbsp;显示单关固定比赛表示</span>
                    <span>&nbsp;&nbsp;<img src="../../images/icon-doubt.png" alt="" @click="showLayerSinglePass=!showLayerSinglePass"></span>
                </div>
            </div>
            <div class="table">
                <div class="table-cell w118">
                    <a class="inline-block btn-remove"><img src="../../images/icon-trash.png" alt=""></a>
                </div>
                <div class="table-cell">
                    <section class="footer-hint">
                        <div class="txt-left txt-gray">请先选择比赛</div>
                        <div class="txt-left txt-gray-small">页面赔率仅供参考,请以出票赔率为准</div>
                    </section>
                </div>
                <div class="table-cell w118">
                    <button class="btn-primary btn-confirm" @click="window.location.href='bet-football-confirm.html'">确定</button>
                </div>
            </div>
        </footer>

        </div>

        <script type="text/x-template" id="#test">
            
        </script>

        <script src="../../libs/vue.min.js"></script>
        <script src="../../libs/layer_mobile/layer.js"></script>
        <script src="../../mui/js/mui.min.js"></script>
        <script>
            Vue.component('layer-prompt', {
                props: {
                    txt: String,
                },
                template: '#test',
            })

            var vm = new Vue({
                'el': '#app',
                data: {
                    show: false,
                    showCompetitionMain: true,
                    showCompetitionMainContent: false,
                    showLayer: false,
                    showBlocks: false,
                    showLayerSinglePass: false,
                    showLayerSinglePass2: false,
                    // 投注类型
                    arrTypes: [{
                            id: '1',
                            name: '胜平负',
                            selected: false
                        }, {
                            id: '2',
                            name: '让球胜平负',
                            selected: false
                        }, {
                            id: '3',
                            name: '比分',
                            selected: false
                        },
                        {
                            id: '4',
                            name: '总进球',
                            selected: false
                        }, {
                            id: '5',
                            name: '半全场',
                            selected: false
                        },
                        {
                            id: '6',
                            name: '混合投注',
                            selected: true
                        },
                        {
                            id: '7',
                            name: '2选1',
                            selected: false
                        }, {
                            id: '8',
                            name: '猜一场',
                            selected: false
                        }, {
                            id: '9',
                            name: '单关固定',
                            selected: false
                        },
                    ],
                    // 比赛列表 
                    arrCompetitions: [
                        {
                            competitionName: '世界杯',
                            competitionNumber: '周五057',
                            closingData: '20:00',
                            nationHome: '乌拉圭', 
                            nationGuest: '法国',
                            rateGroup: [
                                {rateType: '0', rateList: [{rate: '主胜4.10'},{rate: '平3.00'},{rate: '客胜1.72'}]},
                                {rateType: '1', reateList: [{rate: '主胜1.79'},{rate: '平3.15'},{rate: '客胜3.53'}]},
                                {
                                    rateType: '比分', 
                                    rateList: [
                                        {score: '1:0', rate: '6.70'}, {score: '2:0', rate: '8.25'}, {score: '2:1', rate: '7.00'}, {score: '3:0', rate: '15.00'},{score: '3:1', rate: '15.00'},{score: '3:2', rate: '22.00'},{score: '4:0', rate: '35.00'},
                                        {score: '4:1', rate: '35.00'},{score: '4:2', rate: '50.00'},{score: '5:0', rate: '80.00'},{score: '5:1', rate: '80.00'},{score: '5:2', rate: '100.00'},{score: '胜其他', rate: '50.00'},
                                        {score: '0:0', rate: '8.5'},{score: '1:1', rate: '6.10'},{score: '2:2', rate: '13.00'},{score: '3:3', rate: '50.00'},{score: '平其它', rate: '200.00'},
                                        {score: '0:1', rate: '9.70'},{score: '0:2', rate: '18.00'},{score: '1:2', rate: '11.00'},{score: '0:3', rate: '40.00'},{score: '1:3', rate: '30.00'},{score: '2:3', rate: '30.00'},{score: '0:4', rate: '150.00'},
                                        {score: '1:4', rate: '100.00'},{score: '2:4', rate: '100.00'},{score: '0:5', rate: '400.00'},{score: '1:5', rate: '200.00'},{score: '2:5', rate: '200.00'},{score: '负其他', rate: '90.00'}
                                    ]
                                },
                                {rateType: '总进球', rateList: [
                                        {in: '0球', rate: '8.50'},{in: '1球', rate: '4.10'},{in: '2球', rate: '3.15'},{in: '3球', rate: '3.70'},
                                        {in: '4球', rate: '5.75'},{in: '5球', rate: '10.50'},{in: '6球', rate: '18.00'},{in: '7+球', rate: '25.00'}

                                    ]
                                },
                                {
                                    rateType: '半全场', rateList: [
                                        {ending: '胜胜', rate: '2.75'},{ending: '胜平', rate: '14.00'},{ending: '胜负', rate: '30.00'},{ending: '平胜', rate: '4.30'},{ending: '平平', rate: '5.00'},
                                        {ending: '平负', rate: '8.00'},{ending: '负胜', rate: '20.00'},{ending: '负平', rate: '14.00'},{ending: '负负', rate: '6.00'},
                                    ]
                                }
                                
                            ]
                        }
                    ]

                },
                methods: {
                    /*
                     * 选择竞彩足球类型
                     */
                    select: function(o1, o2, key) {
                        o2.forEach(function(item) {
                            item.selected = false
                        })
                        o1.selected = true
                        this[key] = false
                    },
                }
            })

            mui.init({
                pullRefresh: {
                    container: '#pullrefresh',
                    down: {
                        style: 'circle',
                        callback: pulldownRefresh
                    },
                    up: {
                        auto: false,
                        contentrefresh: '正在加载...',
                        callback: pullupRefresh
                    }
                }
            });

            var count = 0;

            function pullupRefresh() {
                // setTimeout(function() {
                //     mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
                //     var table = document.body.querySelector('.mui-table-view');
                //     var cells = document.body.querySelectorAll('.mui-table-view-cell');
                //     var newCount = cells.length > 0 ? 5 : 2; //首次加载20条，满屏
                //     for (var i = cells.length, len = i + newCount; i < len; i++) {
                //         var li = document.createElement('li');
                //         li.className = 'mui-table-view-cell';
                //         li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
                //         table.appendChild(li);
                //     }
                // }, 1500);
            }

            function addData() {
                // var table = document.body.querySelector('.mui-table-view');
                // var cells = document.body.querySelectorAll('.mui-table-view-cell');
                // for (var i = cells.length, len = i + 5; i < len; i++) {
                //     var li = document.createElement('li');
                //     li.className = 'mui-table-view-cell';
                //     li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
                //     //下拉刷新，新纪录插到最前面；
                //     table.insertBefore(li, table.firstChild);
                // }
            }
            /**
             * 下拉刷新具体业务实现
             */
            function pulldownRefresh() {
                // setTimeout(function() {
                //     addData();
                //     mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
                //     mui.toast("为你推荐了5篇文章");
                // }, 1500);
            }
        </script>

</body>

</html>