@charset "utf-8";
html,
body {
    background-color: #f9f8f1;
}

html,
body,
#app,
.bet {
    height: 100%;
}

i {
    font-style: normal;
}

.choices {
    position: fixed;
    z-index: 8;
    top: .88rem;
    width: 100%;
    max-width: 750px;
    padding: .2rem .3rem 0;
    border: 1px solid #ddd;
    text-align: center;
    font-size: .28rem;
    color: #303030;
    background-color: #fff;
    border-bottom: 1px solid #d91d36;
}

.choices .btn-choice {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .2rem .2rem 0;
    padding: .16rem .08rem;
    border: 1px solid #e5e5e5;
    border-radius: .1rem;
    text-align: center;
    line-height: 1;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.choices .btn-choice.active {
    border: 1px solid #d20b2a;
    color: #d20b2a;
    background: url(../../images/btn-type-active.png) no-repeat right bottom;
    background-size: .2rem .2rem;
}

.btn-random {
    position: relative;
    display: block;
    padding-left: .48rem;
    font-size: .28rem;
    color: #8b7d67;
}

.btn-random::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: .48rem;
    height: .48rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: url(../../images/shake.png) no-repeat left center;
    background-size: contain;
}

.bet .balls {
    padding: .3rem .3rem .18rem;
}

.bet .balls li {
    float: left;
    width: 14.286%;
    height: .8rem;
    margin-bottom: .12rem;
    text-align: center;
    line-height: .8rem;
    overflow: hidden;
}

.bet .balls .ball {
    width: .8rem;
    height: .8rem;
    margin: 0 auto;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: .32rem;
    color: #c3222b;
    background-color: #fff;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.padd30{
    padding: .3rem;
}

.paddh30 {
    padding: 0 .3rem;
}

.paddb24{
    padding-bottom: .24rem;
}

.paddb20{
    padding-bottom: .20rem;
}

.margb30 {
    margin-bottom: .3rem;
}

.margb20 {
    margin-bottom: .2rem;
}

.margb10{
    margin-bottom: .1rem;
}

.margb04{
    margin-bottom: .08rem;
}

.bet .balls-blue::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7.5rem;
    height: 1px;
    background-color: #e5e5e0;
}

/* .bet .balls-blue.none{
    margin-bottom: .18rem;
} */

.bet .balls-blue.none::before {
    background: none;
}

.bet .balls-blue {
    position: relative;
    padding-bottom: 2rem;
}

.bet .balls-blue .ball {
    color: #2d76cb!important;
}

.bet .balls .ball.active {
    border: 1px solid #c3222b;
    background-color: #c3222b;
    color: #fff;
}

.bet .balls.balls-blue .ball.active {
    border: 1px solid #2d76cb;
    background-color: #2d76cb;
    color: #fff!important;
}

.foot-action {
    position: fixed;
    left: auto;
    right: auto;
    bottom: 0;
    z-index: 8;
    width: 100%;
    max-width: 750px;
    height: 1rem;
    font-size: .32rem;
    line-height: 1rem;
    color: #fff;
    background-color: #252526;
}

.foot-action .txt-center {
    position: relative;
}

.foot-action .absolute-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 3rem;
    margin: auto;
}

.foot-action button,
.btn-action-machine {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    width: 1.16rem;
    height: .64rem;
    margin: .18rem .3rem;
    border-radius: .1rem;
    font-size: .36rem;
    line-height: .64rem;
    color: #fff;
    background-color: #666;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.foot-action button:active {
    background: none;
}

.foot-action .btn-confirm-bet {
    color: #303030;
    background-color: #f5bd41;
}

.foot-action .btn-action-machine {
    color: #f5bd41;
}

.foot-action span {
    margin: 0 .1rem;
}

.foot-action i {
    font-style: normal;
}

.color-yellow {
    color: #f5bd41;
}

.bet i {
    font-style: normal;
}

.bet .bet-row {
    padding: .16rem .3rem;
    border-bottom: 1px solid #e5e5e0;
    font-size: .28rem;
    color: #303030;
}

.bet .bet-row i {
    color: #c3222b;
}

.bet .layer-random {
    /* position: fixed;
    top: .88rem;
    height: 100%; */
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 750px;
    z-index: 4;
    padding-top: .4rem;
    line-height: 1;
    background-color: #f9f8f1;
    margin-bottom: 1rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.bet .layer-recent {
    position: fixed;
    z-index: 3;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 750px;
    border-bottom: 1px solid #e5e5e0;
}

.bet .layer-recent .table:nth-child(2n+1) {
    background-color: #fff;
}

.bet .layer-recent .table {
    width: 100%;
    font-size: .28rem;
    color: #666;
}

.bet .layer-recent .table .table-cell {
    padding: .14rem 0;
    text-align: center;
    line-height: 1;
}

.bet .layer-recent .table .table-cell:nth-child(1) {
    width: 30%;
    border-right: 1px solid #e5e5e0;
}

.bet .layer-recent .table .table-cell:nth-child(2) {
    width: 40%;
    border-right: 1px solid #e5e5e0;
}

.bet .layer-recent .table .table-cell:nth-child(3) {
    width: 30%;
}

/* 弹出菜单 */

#topPopover {
    width: 3rem;
    height: 220px;
}

#bottomPopover {
    width: 3rem;
}

#topPopover,
#bottomPopover {
    font-size: .32rem;
}

.mui-table-view-cell:after {
    right: 15px;
}

/* 投注确认页 */

.fixed {
    left: auto;
    right: auto;
    width: 100%;
    max-width: 750px;
}

.bet-confirm .btn-options-group {
    position: fixed;
    width: 100%;
    max-width: 750px;
    z-index: 4;
    padding: .2rem 0;
    background-color: #f9f8f1;
}

/* 双色球顶部按钮 */
.bet-confirm .btn-option {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 2.08rem;
    height: .6rem;
    margin: 0 .1rem;
    border: 1px solid #dededd;
    text-align: center;
    font-size: .28rem;
    line-height: .6rem;
    color: #303030;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    background-color: #fff;
}

.bet-confirm .btn-option.w350{
    margin: 0;
}

/* .bet-confirm .btn-option::before {
    content: '';
    position: absolute;
    left: .28rem;
    top: 50%;
    width: .28rem;
    height: .28rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
} */

.bet-confirm .btn-option>div {
    padding-left: .32rem;
}

/* .bet-confirm .btn-option-self::before {
    background: url(../../images/icon-add.png) no-repeat center;
    background-size: .28rem .28rem;
}

.bet-confirm .btn-option-robot::before {
    background: url(../../images/icon-add.png) no-repeat center;
    background-size: .28rem .28rem;
}

.bet-confirm .btn-option-empty::before {
    background: url(../../images/icon-trash.png) no-repeat center;
    background-size: .28rem .28rem;
} */

/* 足球顶部按钮 */
.w350{
    width: 3.5rem!important;
}

.bet-confirm .btn-option>div span{
    position: relative;
}

.bet-confirm .btn-option>div span::before{
    content: '';
    position: absolute;
    left: -.32rem;
    top: 50%;
    width: .28rem;
    height: .28rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.bet-confirm .btn-option-self>div span::before {
    background: url(../../images/icon-add.png) no-repeat center;
    background-size: .28rem .28rem;
}

.bet-confirm .btn-option-empty>div span::before {
    background: url(../../images/icon-trash.png) no-repeat center;
    background-size: .28rem .28rem;
}

.bet-confirm .btn-option-robot>div span::before {
    background: url(../../images/icon-add.png) no-repeat center;
    background-size: .28rem .28rem;
}

.bet-confirm .list {
    position: relative;
    top: 1.2rem;
    padding-bottom: 2rem;
    width: 6.9rem;
    margin: 0 .3rem;
    line-height: 1;
}

.bet-confirm .list::before {
    content: '';
    position: fixed;
    left: -.1rem;
    height: .14rem;
    width: 7.1rem;
    border-radius: .07rem;
    background-color: #a19e95;
    -webkit-border-radius: .07rem;
    -moz-border-radius: .07rem;
    -ms-border-radius: .07rem;
    -o-border-radius: .07rem;
    top: -.04rem;
    z-index: 4;
    left: 0;
    right: 0;
    top: 1.88rem;
    margin: auto;
}

.bet-confirm .list .list-item.last ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .16rem;
    background: url(../../images/sawtooth-down.png) repeat;
    background-size: contain;
}

.bet-confirm .list-head {
    position: fixed;
    width: 6.9rem;
    top: 1.92rem;
    z-index: 8;
    height: .15rem;
    background-color: #fff;
    overflow: hidden;
    border-radius: .1rem .1rem 0 0;
    -webkit-border-radius: .1rem .1rem 0 0;
    -moz-border-radius: .1rem .1rem 0 0;
    -ms-border-radius: .1rem .1rem 0 0;
    -o-border-radius: .1rem .1rem 0 0;
}

.bet-confirm .list-head::after {
    content: '';
    position: absolute;
    height: .06rem;
    width: 100%;
    background-color: #f3f3f3;
}

.bet-confirm .list-body {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.bet-confirm .list-item {
    position: relative;
    display: block;
    border-top: 1px dashed #e5e5e4;
    line-height: 1;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

/* 确认页面列表项*/
.bet-confirm .list-item .table {
    width: 100%;
    padding: .2rem 0 .24rem;
    background: #fff url(../../images/icon-link.png) no-repeat 6.4rem center;
    background-size: .28rem .28rem;
}

.bet-confirm .list-item .football-table.table{
    background: #fff;
}

.bet-confirm .list-item .football-title{
    padding-top: .2rem;
    background-color: #fff;
}

.w490{
    width: 4.9rem;
}

.w333{
    width: 33.333%;
}

.rectangle58{
    display: inline-block;
    width: .58rem; height: .58rem;
    border: 1px solid #e5e5e5;
    font-size: .36rem;
    line-height: .58rem;
    color: #e8e8e8;
}

.rectangle58.active{
    border: 1px solid #d5001a;
    background-color: #d5001a;
    color: #fff;
}

.bet-confirm .list-item .football-table .football-title span{
    margin: 0 .3rem;
}

.bet-confirm .list-item .football-table .expect{
    width: 4.9rem;
    margin: 0 auto;
    padding: .1rem 0;
    border: 1px solid #e5e5e5;
    background-color: #f9f7f3;
}

.bet-confirm .list-item .football-table .expect span{
    display: inline-block;
    margin: .08rem;
}

.bet-confirm .expect-2{
    border: 1px solid #e5e5e5;
}

.bet-confirm .expect-2.table{
    padding: 0;
}

.bet-confirm .expect-2 .table-cell{
    padding: .2rem 0;
    border-right: 1px solid #e5e5e5;
    transition: color .3s, background .3s ease;
    -webkit-transition: color .3s, background .3s ease;
    -moz-transition: color .3s, background .3s ease;
    -ms-transition: color .3s, background .3s ease;
    -o-transition: color .3s, background .3s ease;
}

.bet-confirm .expect-2 .table-cell:last-child{
    border-right: none;
}

.bet-confirm .expect-2 .table-cell.active{
    background-color: #bb1a2a; 
}

.bet-confirm .expect-2 .table-cell.active h1, .bet-confirm .expect-2 .table-cell.active h2,
.bet-confirm .expect-2 .table-cell.active span{
    color: #fff;
}

.bet-confirm .expect-2 .tbale-cell:last-child{
    border-right: none;
}

.bet-confirm .btn-del-item {
    display: block;
    width: .4rem;
    height: .4rem;
    margin: 0 auto;
}

.bet-confirm .bet-num {
    font-size: .28rem;
    color: #d5001b;
}

.bet-confirm .bet-num-blue {
    color: #2083d6;
}

.bet-confirm .list-item-line:nth-child(1) {
    padding-bottom: .1rem;
}

.bet-confirm .list-item-line:nth-child(2) {
    padding-top: .1rem;
}

.bet-confirm .list-protocol {
    position: relative;
    padding: .3rem 0;
    font-size: .28rem;
    color: #808080;
    background-color: #f9f8f1;
}

.bet-confirm .list-protocol span,
.bet-confirm .list-foot input {
    vertical-align: middle;
}

.bet-confirm .pay {
    position: fixed;
    left: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    max-width: 750px;
    font-size: .28rem;
    color: #303030;
}

.bet-confirm .pay .table {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.bet-confirm .pay .txt-center {
    position: relative;
    height: 1rem;
    color: #fff;
    background-color: #242624;
}

.bet-confirm .pay .pay-money {
    padding-top: .19rem;
    font-size: .32rem;
    line-height: 1;
    margin-bottom: .06rem;
}

.bet-confirm .pay .pay-term {
    font-size: .24rem;
    line-height: 1;
}

.bet-confirm .pay-input {
    padding: .16rem 0;
}

.bet-confirm .pay-input input[type="text"] {
    width: 1rem;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.bet-confirm .pay-input span {
    margin: 0 .16rem;
    vertical-align: middle;
}

/* 加，减按钮 */

.btn-control {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2.18rem;
    height: .56rem;
    border: 1px solid #cbcbcb;
    border-radius: .05rem;
    text-align: center;
    line-height: .56rem;
}

.btn-control .btn-action {
    display: block;
    width: .56rem;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn-control .btn-action img {
    width: .28rem;
    height: .28rem;
    vertical-align: middle;
}

.btn-control .amount {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto!important;
    padding: 0!important;
    border: none!important;
    outline: none!important;
    line-height: initial!important;
}

.btn-control .btn-add {
    border-left: 1px solid #cbcbcb;
}

.btn-control .btn-del {
    border-right: 1px solid #cbcbcb;
}

.bet-confirm .btn-to-pay {
    position: absolute;
    right: .3rem;
    top: 50%;
    width: 1.16rem;
    height: .64rem;
    margin: 0;
    padding: 0;
    font-size: .32rem;
    line-height: .64rem;
    border: none;
    color: #303030;
    background-color: #f5bd41;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.bet-confirm .btn-to-pay:active {
    background-color: #f5bd41;
    color: #303030;
}

/* 竞彩足球 */
.choices .btn-size1{
    float: left;
    width: 33.333%;
    padding: 0 .08rem .2rem;
}

.choices .btn-size1 .btn-choice{
    width: 100%;
    margin: 0;
}

#pullrefresh{
    top: .88rem;
    max-width: 750px;
    left: auto;
    right: auto;
}

.mui-content{
    background: #f9f8f1;
}

.mui-table-view{
    background: none;
}

.mui-table-view:after{
    background: none;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-col-24{
    width: 1.8rem;
    font-size: .28rem;
    color: #91826d;
}

.flex-col-24 .h1{
    margin-bottom: .08rem; 
}

.flex-col-24 .icon-toggle{
    width: .32rem;
    height: .32rem;
    margin: 0 auto;
    overflow: hidden;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.flex-col-24.active .icon-toggle{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.flex-col-86{
    width: 5.7rem;
}

.table-style-1{
    background-color: #fff;
    transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    -ms-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
}

.table-style-1 .grid{
    padding: .24rem 0;
    font-size: .28rem;
    color: #303030;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.table-style-1 .grid.active{
    background-color: #d5001a;
    color: #fff;
}

.table-style-1 .grid{
    border-right: 1px solid #e5e5e5;
}

.table-style-1 .grid:last-child{
    border: none;
}

/* .table-style-1 .grid-row:first-child{
    border-bottom: 1px solid #fcc698;
} */

.table-style-1 .score{
    width: .3rem;
    margin: 0 auto;
}



.table-style-1 .expend{
    width: .88rem;
    font-size: .28rem;
    color: #91826d;
}

.table-style-1 .expend a{
    color: inherit;
}

/* 单关标识 start */
.table-style-1 .expend{
    border: 1px solid #e5e5e5;
    border-left: none;
}

.table-style-1 .grid-row .table-cell:first-child{
    width: .3rem;
}

.table-style-1 .grid-row:first-child{
    border-bottom: none;
}

.table-style-1 .grid-row{
    border: 1px solid #e5e5e5;
}

.table-style-1.highlight .grid-row:first-child{
    border: 1px solid #f0a011;
}

.table-style-1.highlight .grid-row:last-child{
    border-top: none;
    border-right: 1px solid #f0a011;
}

.table-style-1.highlight .expend{
    border: 1px solid #f0a011;
    border-left: none;
}

.table-style-1 .expend.chosen{
    background-color: #eedfcc;
}

.table-style-1 .expend .null, .table-style-1 .expend.chosen .not-null{
    display: block;
}

.table-style-1 .expend .no-null, .table-style-1 .expend.chosen .null{
    display: none;
}



/* 单关标识 end */

.competition{
    max-width: 750px;
    margin: 0 auto;
    background: #f9f8f1;
    line-height: 1;
    margin-bottom: 1rem;
}

.competition .competition-header{
    position: relative;
    padding: .06rem .3rem;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    line-height: 1.4;
}

.competition .competition-header::after{
    content: '';
    position: absolute;
    top: 0;
    right: .3rem;
    bottom: 0;
    width: .4rem;
    height: .4rem;
    margin: auto;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: url(../../images/arrow-down-2.png) no-repeat center;
    background-size: .32rem .32rem;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.competition .active.competition-header::after{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.competition .pk{
    position: relative;
    margin-left: 1.92rem;
    padding: .24rem 0;
    font-size: .28rem; text-align: center;
}

.competition .pk span{
    margin: 0 .48rem;
}

.competition .i{
    display: block;
    width: .2rem;
    font-style: normal;
    font-size: .2rem;
    line-height: 1.2;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    color: #808080;
}

.competition .competition-main{
    border-bottom: 1px solid #e5e5e5;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.competition .competition-main.active{
    border-bottom: 1px solid #e5e5e5;
    opacity: 1;
    visibility: visible;
    height: auto;
}

.competition .competition-row:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.competition .competition-row{
    position: relative;
    padding: .1rem 0;
    zoom: 1;
    line-height: 1;
}

.competition .competition-tag{
    
    float: left;
    width: 1.8rem;
}

.icon-result{
    position: absolute;
    left: 1.5rem;
    top: 56%;
    width: .25rem;
    height: 1.12rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.competition .competition-txt{
    float: right;
    width: 5.7rem;
}

.competition .competition-txt .table-cell{
    width: 25%; padding-bottom: .1rem;
}

.competition .content{
    font-size: .24rem; text-align: center;
    color: #303030;
}

.competition .competition-row:nth-child(2n){
    background-color: #f6f4e7;
}

.competition .competition-row:nth-child(2n+1){
    background-color: #f2eee0;
}


.competition .blocks li{
    position: relative;
    float: left;
    width: 50%;
    padding: .2rem 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: .32rem;
    text-align: center;
    color: #303030;
    background-color: #fff;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.competition .blocks li::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #d5001a;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.competition .blocks li.active::after{
    width: 100%;
    
}

.competition .blocks li:first-child{
    border-right: 1px solid #e5e5e5;
}

.competition .blocks li.active{
    color: #d5001a;
}

.btn-analysis{
    position: relative;
    display: inline-block;
    padding: .1rem 0;
    font-size: .24rem;
    color: #91826d;
    line-height: 1;
}

.btn-analysis::before, .btn-analysis::after{
    content: ''; display: block;
    position: absolute; width: .24rem; height: .24rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn-analysis::before{
    left: -.4rem;
    top: 50%;
    background: url(../../images/lottery_football.png) no-repeat;
    background-size: .24rem .24rem;
}

.btn-analysis::after{
    right: -.4rem;
    top: 50%;
    background: url(../../images/arrow-r-2.png) no-repeat;
    background-size: .24rem .24rem;
}

.btn-analysis span, .btn-analysis img{
    vertical-align: middle;
}

.btn-analysis img{
    width: .24rem; height: .24rem;
}

.layer-substance{
    position: fixed;
    z-index: 10;
    width: 6.9rem;
    height: 80%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 750px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border-radius: .15rem;
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    -ms-border-radius: .15rem;
    -o-border-radius: .15rem;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    font-size: .28rem;
    color: #303030;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.layer-substance.active{
    position: fixed;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    background-color: #f8f8f8;
}

.layer-substance-head{
    position: fixed; z-index: 11;
    width: 100%;
    background-color: #f8f8f8;

    padding: .28rem;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.layer-substance-body{
    position: fixed;
    height: 100%;
    overflow: auto;
    padding: .99rem .2rem 1.52rem;
}

.layer-substance-body .hint{
    padding-bottom: .2rem;
    line-height: 1.4;
}

.layer-substance-body .table-style-1{
   margin-bottom: .2rem;
}

.layer-single-pass{
    width: 80%;
    height: 50%;
    font-size: .28rem;
    color: #666;
}

.layer-single-pass .layer-substance-foot{
    border-radius: 0 0 .15rem .15rem;
    -webkit-border-radius: 0 0 .15rem .15rem;
    -moz-border-radius: 0 0 .15rem .15rem;
    -ms-border-radius: 0 0 .15rem .15rem;
    -o-border-radius: 0 0 .15rem .15rem;
}
.layer-single-pass .layer-substance-head{
    border-radius: .15rem .15rem 0 0;
    -webkit-border-radius: .15rem .15rem 0 0;
    -moz-border-radius: .15rem .15rem 0 0;
    -ms-border-radius: .15rem .15rem 0 0;
    -o-border-radius: .15rem .15rem 0 0;
}

.txt-big{
    padding: .08rem 0;
    font-size: .28rem; color: #303030;
}


.txt-small{
    font-size: .24rem; color: #808080;
}

.holder .score-item.active .txt-big, .holder .score-item.active .txt-small{
    color: #fff;
}

.holder{
    position: relative;
    padding-left: .3rem;
    border-top: 1px solid #e5e5e5;
    color: #fff;
}

.holder .score-item.active{
    background-color: #d5001a;
}

.holder .score-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    float: left;
    width: .88rem;
    height: .88rem;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
}

.holder .score-item-col2{
    width: 1.77150284rem;
}

.holder .score-item-col3{
    width: 2.65714266rem;
}

.holder .score-label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: .3rem;
    font-size: .24rem;
    text-align: center;
}

.holder::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    background-color: #f0a011;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.holder.b4::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    background-color: #5297f6; 
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.holder.b5::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .3rem;
    height: 100%;
    background-color: #ab53f6; 
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.layer-substance-foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .32rem 0 .36rem; 
    background:  #f8f8f8;
    text-align: center;
}

.layer-single-pass .layer-substance-foot{
    border-top: 1px solid #e5e5e5;
    padding: .28rem;
}

.layer-substance-foot button{
    display: inline-block;
    width: 2.7rem;
    height: .64rem;
    margin: 0;
    padding: 0;
    margin: 0 .1rem;
    border-radius: .1rem;
    line-height: .64rem;
    border: none;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    margin: 0 .1rem;
    font-size: .32rem;
}

.layer-substance-foot button.btn-confirm{
    color: #fff;
    background-color: #da1a36;
}

.txt-gray{
    margin-bottom: .08rem;
    font-size: .28rem; color: #999;
}

.txt-gray-small{
    font-size: .24rem; color: #666;
}

.fontsize32{
    font-size: .32rem;
}

.fontsize24{
    font-size: .24rem;
}

.single-pass{
    padding: .15rem 0;
    font-size: .24rem;
    color: #f0a011;
}

.single-pass img{
    width: .32rem; height: .32rem;
    vertical-align: middle;
}

.single-pass span{
    vertical-align: middle;
}

.single-pass .a-checkbox input[type=checkbox]:checked:before {
    background: url(../../images/check-box_fill.png) no-repeat center;
    background-size: cover;
}

.single-pass .a-checkbox input[type=checkbox]{
    border: 1px solid #f0a011;
    border-radius: .05rem;
    -webkit-border-radius: .05rem;
    -moz-border-radius: .05rem;
    -ms-border-radius: .05rem;
    -o-border-radius: .05rem;
}

.none{
    display: none;
}



